.Heart{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

body{
    background-color: pink;
}
.Buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
}
.Yes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.Freddy{
    display: flex;
    justify-content: center;
}
